<!-- The Details view shows the Route's name, the list of streets within the
 route and its timetable organised by type of the day -- weekday, saturday
 or sunday. -->
<div id="details">
    <div id="streets">
        <!-- Route's name -->
        <h2></h2>
        <!-- Button called "Back" -->
        <button id="back" type="button" class="btn btn-primary">Back</button>
        <!-- List of streets -->
        <ul class="list-group">
            <span class="list-group-item"></span>
        </ul>
    </div>
    <!-- Timetable -->
    <div id="timetable">
        <h2>Timetable</h2>
        <table class="table">
            <thead>
                <th>Week Day</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
